  <!--INICIO DO CONTEUDO-->
  <section class="content-header">
    </section>

    <section class="content">
      <section class="invoice">

          {{ form.valid }}
          {{ form.value | json }}

            <form #form='ngForm' novalidate>
              <div class="row">
                <div class="col-xs-12">
                  <h2 class="page-header">
                    <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
                  </h2>
                </div>
              </div>                

              <div class="row invoice-info">
                <div class="col-xs-12">
                  <p class="lead">Endereço de Entrega:</p>
                </div>
                <div class="col-sm-6 col-xs-12">
               <mt-input-container errorMessage="Campo obrigatório" label="Endereço">
                 <input class="form-control" name="address" ngModel required minlength="5" placeholder="Endereço">
               </mt-input-container>
              </div>

              <div class="col-sm-2 col-xs-6">
               <mt-input-container errorMessage="Campo obrigatório" label="Número">
                <input type="text" class="form-control" id="inputSuccess" name="number" pattern="^[0-9]*$" required ngModel placeholder="Número">
               </mt-input-container>
              </div>
              
              <div class="col-sm-4 col-xs-6">
               <mt-input-container label="Complemento">
                <input type="text" class="form-control" id="inputSuccess"  name="optional" ngModel placeholder="Complemento">
               </mt-input-container>                
                </div>
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-xs-12">
                  <p class="lead">Itens do Pedido:</p>
                </div>                
               
                  <mt-order-itens [items]="cartItems()"
                  (increaseQty)="increaseQty($event)"
                  (decreaseQty)="decreaseQty($event)"
                  (remove)="remove($event)"
                  ></mt-order-itens>
                <!-- /.col -->
             </div>
              <!-- /.row -->

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-sm-6 col-xs-12">
                  <p class="lead">Formas de Pagamento:</p>

                    <div class="form-group">
                      <mt-radio [options]="paymentOptions" name="paymentOption" ngModel></mt-radio>
                    </div>

                </div>
                <!-- /.col -->
                <div class="col-sm-6 col-xs-12">
                  <p class="lead">Frete e Total:</p>

                  <div class="table-responsive">
                    <table class="table">
                      <tbody><tr>
                        <th style="width:50%">Itens:</th>
                        <td class="text-right">R$ 20,00</td>
                      </tr>
                      <tr>
                        <th>Frete:</th>
                        <td class="text-right">R$ 8,00</td>
                      </tr>
                      <tr>
                        <th>Total:</th>
                        <td class="text-right">R$ 28,00</td>
                      </tr>
                    </tbody></table>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              
            </form>

            <div class="row" >
              <div class="col-xs-12" *ngIf="form.valid">
                <a href="order-summary.html"  class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Concluir Pedido
                </a>
              </div>
            </div>

        </section>
    </section>
    <!-- FIM DO CONTEUDO-->